@font-face{
    font-family: Ubuntu;
    src: url(Fonts/Ubuntu-Regular.ttf);
}
*{
    font-family: Ubuntu;
}
li:hover{
    background-color: darkslategray;
    border-radius: 15px;
    border: 2px solid royalblue;
}
h1{
    font-family: Ubuntu;
    color: royalblue;
}
.form{
    width: 80%;
}
.gotop{
    position: fixed;
    bottom: 30px;
    right: 40px;
}

.subject{
    justify-content: left !important;
    font-size: 20px !important;
    color: royalblue;
}