@font-face{
    font-family: Ubuntu;
    src: url(fonts/Ubuntu-Regular.ttf);
}
*{
    font-family: Ubuntu;
}


li:hover{
    background-color: darkslategray;
    border-radius: 15px;
    border: 2px solid royalblue;
}


h2{
    color: royalblue;
    margin: 20px;
    text-shadow: 5px 5px 10px darkgray;
}
.container{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    display: inline-flex;
}
.container-sm{
    width: 90%;
}
.gotop{
    position: fixed;
    bottom: 30px;
    right: 40px;
}
